
.icons{
    color: gray;
  }
  
  #bookstore_logo{
    margin-top: 2%;
    margin-left: 38%;
    border-radius: 1cm;
    width: 75px;
    height: 75px;
  }
 
  .err{
    text-align: center;
    margin-top: 5%;
    font-family: "Times New Roman";
    font-size: large;
    font: bold;
    color: red;
    height: 30%;
    width: auto;
    background-color:navajowhite;
  }
  
  .card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 100%;
    //height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.459);
    border-radius: 2%;
  }
  
  .Bookstore{
    text-align: center;
    font-family: "Times New Roman";
    font-weight: bold;
    margin-bottom: 02%;
    font-size: 200%;
    color: black;
  }
  /*.S {
    color: #A03037;
  }
  .i {
    color: #A03037;
  }
  .g {
    color: #A03037;
  }
  .n {
    color: #A03037;
  }
  .U {
    color: #A03037;
  }
  .p {
    color: #A03037;
  }
  */
  #fullName {
    width: 90%;
    height: 10%;
    margin-bottom: -10px;
  }
  
  #lastname {
    width: 90%;
    margin-bottom: -10px;
  }
  .mobile {
    width: 90%;
    margin-bottom: -10px;
    margin-top: 1%;
  }
  .email {
    width: 90%;
    margin-bottom: -10px;
    margin-top: 1%;
  }
  .password {
    width: 90%;
    margin-bottom: -10px;
    margin-top: 1%;
  }
  .confirm {
    width: 90%;
    margin-bottom: -10px;
    margin-top: 1%;
  }
  .acc-type {
    width: 30%;
    margin-top: 4%;
    margin-left: 5%;
  }
  .signup-in {
    display: flex;
    width: 90%;
  }
  
  #suffix {
    margin-left: 0%;
    margin-top: 5%;
  }
  #signbutton {
    margin-left: 8%;
    margin-right: -3%;
    width: 150%;
    //height: 120%;
    font-weight: bold;
    font-size: 120%;
    //background-color:grey;
 // background-color: #A03037;
    color: white;
  }
 /* .mat-raised-button.mat-primary {
    background-color: #A03037;
}*/
  .gray{
    background-color:grey;
  }
  .blue{
    background-color: #A03037;
  }
  
  #secleted {
    margin-left: 5%;
    color: lightblue;
    font-family: sans-serif;
  }
  #psec {
    margin-left: 12%;
    font-family: sans-serif;
    color: #7b1fa2;
  }
  .box{
    
    position:relative;
    top:0;
    opacity:1;
    float:left;
    padding:60px 50px 40px 50px;
    width:100%;
    // background-image: url(/assets/images/amm.jpg);
    // color: rgb(255, 255, 255);
    border-radius:10px;
    transform:translate(50%,50%);
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    z-index:5;
    max-width:330px;
}